{% extends 'base.html.twig' %}

{% block content %}

<div class="mesure">
    <h1>Félicitations Devis ajouté !!!</h1>

    <div class="example-wrapper">
        <h4>Vous êtes un(e) {{ choix }} (vous bénéficiez d'une remise de {{ remise }}%)</h4>
        <h4>Rappel - mesures de la haie ({{ type }}) : Longueur de {{ longueur }}m, Hauteur de {{ hauteur }}m</h4>
        <h4>Vous avez obtenu une remise de {{ montantremise}} €</h4>
        <h4>Le montant de votre devis est de {{ montant}} €</h4>
        <a href="{{ path('accueil') }}">Revenir à l'accueil</a>
    </div>
</div>
{% endblock %}